<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>connecc4</title>

        <!-- development version -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>


    <body>
        <div id="app">
            <svg
                version="1.1"
                baseProfile="full"
                :width="boardWidth"
                :height="aboveBoard + boardHeight"
                xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="boardMask">
                        <rect
                            :y="aboveBoard"
                            :width="boardWidth"
                            :height="boardHeight"
                            fill="white"
                            rx="10"
                            />
                        <template v-for="(_, row) in rows">
                            <circle
                                v-for="(_, column) in columns"
                                :cx="cx(column)"
                                :cy="cy(row)"
                                :r="holeRadius"
                                />
                        </template>
                    </mask>
                    <circle
                        id="humanPiece"
                        :r="pieceRadius"
                        fill="#ffd500"
                        />
                </defs>
                <use 
                    v-if="hoverColumn != null"
                    href="#humanPiece"
                    :x="cx(hoverColumn)"
                    :y="pieceRadius"
                    />
                <rect
                    :y="aboveBoard"
                    :width="boardWidth" 
                    :height="boardHeight" 
                    fill="#3d6bf5"
                    mask="url(#boardMask)"
                    />
                <rect
                    v-for="(_, column) in columns"
                    :x="boardPadding + column*(2*pieceRadius + pieceGap)"
                    :y="aboveBoard"
                    :width="2*pieceRadius"
                    :height="boardHeight"
                    fill="none"
                    pointer-events="visible"
                    @mouseover="hoverColumn = column"
                    @mouseout="hoverColumn = null"
                    />
            </svg>
        </div>

        <script src="index.js"></script>
    </body>
</html>
